<div align="center"  style="margin:5%;">
	<table border="0" width="600px" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="2" align="center"><img width="250px" height="80px" src="../../assets/img/cpanew.jpg"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><b>EDI DECLARATION</b></td>
		</tr>
	</table>
	<br>
	<table border="1" width="600px" cellpadding="0" cellspacing="0">
		<tr>
			<td class="gridLight" align="center">Vessel Name</td>
			<td class="gridLight" align="center">{{vessel_Name}}</td>
		</tr><tr>
			<td class="gridLight" align="center">Rotation</td>
			<td class="gridLight" align="center">{{import_Rotation_No}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">Imp Voyage</td>
			<td class="gridLight" align="center">{{voy_No}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">Exp Voyage</td>
			<td class="gridLight" align="center">{{voyNoExp}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">GRT</td>
			<td class="gridLight" align="center">{{grt}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">NRT</td>
			<td class="gridLight" align="center">{{nrt}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">IMO NO</td>
			<td class="gridLight" align="center">{{imo}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">LOA</td>
			<td class="gridLight" align="center">{{loa_cm}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">Name of Master</td>
			<td class="gridLight" align="center">{{name_of_Master}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">FLAG</td>
			<td class="gridLight" align="center">{{flag}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">Call Sign</td>
			<td class="gridLight" align="center">{{radio_call_sign}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">Beam</td>
			<td class="gridLight" align="center">{{beam_cm}}</td>
		</tr>
		<tr>
			<td class="gridLight" align="center">Agent</td>
			<td class="gridLight" align="center">{{agent_name}}</td>
		</tr>
	</table>
</div>

	