<div class="col-md-12  mt-3 offset-md-3 ">
    <div class="card ">
        <div class="card-body ">
            <p class="h6 mb-4" align="center">MIS ASSIGNMENT</p>                     
            <form  [formGroup]="misAssignment" (ngSubmit)="onSubmit($any($event.target))">
               

                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary"> Date</button>
                            </div>
                            <input type="date" name="date" placeholder="" class="form-control"  required >
                           
                        </div>                                        
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Teminal</button>
                            </div>
                            <select (change)="onValueChange($any($event.target).value)" name="terminal" class="form-control">
                                <option value="">select</option>
                                <option value="CCT">CCT</option>
                                <option value="NCT">NCT</option>
                                <option value="GCB">GCB</option>
                                <option value="SCY">SCY</option>
								<option value="OFY">OFY</option>     
                                   
                            </select>
                           
                        </div>                                        
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary">Block</button>
                                </div>
                                <select [disabled]="isEditableBlock" name="block" class="form-control">
                                    <option value="ALLBLOCK" selected>--All Block--</option>
                                    <option  *ngFor="let val of blockList" ng-model="myVar" 
                                                           value={{val.block_No}}>
                                                           {{val.block_No}}
                                    </option>
                                       
                                       
                                </select>
                               
                            </div>                                        
                        </div>
                   </div>

                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Assignment Type</button>
                            </div>
                            <select [disabled]="isEditableAssignmentType" name="assignmentType" class="form-control ">
                                <option value="ALLASSIGN">--All Assignment--</option>
                                <option *ngFor="let val of assignTypeList" ng-model="myVar"
                                                           value={{val.mfdch_value}}>
                                                           {{val.mfdch_desc}}
                                </option>
                                   
                                   
                            </select>
                           
                        </div>                                        
                    </div>
               </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-4 text-center">
                        <label class="radio-inline">
                            <input type="radio" name="fileType" value="xl"/> Excel 
                       </label>
                    </div>
                    <div class="col-4 text-center">
                         <!--label class="radio-inline">
                            <input type="radio" name="fileType" value="html" checked /> PDF
                        </label-->
                    </div>
                    <div class="col-4 text-center">
                        <label class="radio-inline">
                            <input type="radio" name="fileType" value="html" checked /> Html
                        </label>
                    </div>
                </div>
            </div>
               
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <button  [disabled]="this.misAssignment.invalid"  class="btn btn-primary">View</button>
                    </div>
                </div>
            </form>                                
        </div>
    </div>
</div>



