<div class="col-md-12  offset-md-1  mt-3">
    <div class="card">
        <div class="card-body">
            <p class="h6 mb-4" align="center">ASSIGNMENT/DELIVERY EMPTY DETAILS</p>                     
            <form [formGroup]="assingmentDeliveryAndEmptyDetail" (ngSubmit)="onSubmit($any($event.target))">
               
                <div class="container offset-md-1">
                    <div class="row">
                        <div class="col-6 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="assignmentOption" value="Assignment"  (change)="onValueChange($any($event.target).value)" checked /> Assignment 
                           </label>
                        </div>
                        
                        <div class="col-6 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="assignmentOption" value="Assignment(E)"  (change)="onValueChange($any($event.target).value)"  /> Assignment(E)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container offset-md-1">
                    <div class="row">
                        <div class="col-6 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="assignmentOption" value="Delivery"  (change)="onValueChange($any($event.target).value)"/> Delivery 
                           </label>
                        </div>
                        
                        <div class="col-6 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="assignmentOption" value="Container"  (change)="onValueChange($any($event.target).value)" /> Container
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">From Date</button>
                            </div>
                            <input [readonly]="isEditableFromDate" type="date" name="fromDate" placeholder="" class="form-control"  required >
                           
                        </div>                                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">To Date</button>
                            </div>
                            <input [readonly]="isEditableToDate" type="date" name="toDate" placeholder="" class="form-control"  required >
                           
                        </div>                                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Yard Name</button>
                            </div>
                            <select  [disabled]="isEditableYardName" name="yardName" class="form-control">
                                    <option value="all" selected>yard_no</option>
                                    <option value="CCT">CCT</option>
                                    <option value="NCT">NCT</option>
                                    <option value="GCB">GCB</option>
                                    <option value="SCY">SCY</option>
                                    <option value="OFY2">OFY2</option>
                                   
                                   
                            </select>
                           
                        </div>                                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Cotainer No</button>
                            </div>
                            <input  [readonly]=" isEditableCotainerNo" type="text" name="containerNo" placeholder="Cotainer No" class="form-control"  required >
                           
                        </div>                                        
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="fileType" value="xl"/> Excel 
                           </label>
                        </div>
                        <div class="col-4 text-center">
                             <label class="radio-inline">
                                <input type="radio" name="fileType" value="html" checked /> PDF
                            </label>
                        </div>
                        <div class="col-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="fileType" value="html" checked /> Html
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <button  [disabled]="this.assingmentDeliveryAndEmptyDetail.invalid"  class="btn btn-primary">Show</button>
                    </div>
                </div>
            </form>                                
        </div>
    </div>
</div>
