
<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <!-- Labor Category Form Starts -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                       
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                    <div class="col-md-9 offset-md-1">
                        <div class="card">
                            <!-- <div class="card-header">
                                <h3 class="card-title">Add New Labor Category</h3>                                
                            </div> -->
                            <div class="card-body">
                                <p class="h4 mb-4" align="center">DG CONTAINERS DISCHARGE SUMMARY</p>                     
                            
                                
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn btn-primary">Rotation No:</button>
                                                </div>
                                                <input type="text" [(ngModel)]="rot_no" id="txt_login" class="form-control" placeholder="">
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2 text-center">
                                            <a type="button" (click)="onSubmit()" class="btn btn-sm btn-info" target="_blank"  [routerLink]="['/dg/dg-cont-discharge-summary-list']" >Show</a>                                        </div>
                                    </div>
                                                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <!-- Labor Category Form Ends -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->