<div class="col-md-12 offset-md-2 mt-3">
    <div class="card">
        <div class="card-body">
            <p class="h6 mb-4" align="center">ASSIGNMENT/DELIVERY EMPTY SUMMARY REPORT</p>                     
            <form [formGroup]="assingmentDeliveryAndEmptySummaryForm" (ngSubmit)="onSubmit($any($event.target))">
               
                

                

                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary"> Date</button>
                            </div>
                            <input type="date" name="date" placeholder="" class="form-control"  required >
                           
                        </div>                                        
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Yard Name</button>
                            </div>
                            <select name="yardName" class="form-control">
                                    <option value="all">yard</option>
                                    <option value="CCT">CCT</option>
                                    <option value="NCT">NCT</option>
                                    <option value="GCB">GCB</option>
                                    <option value="SCY">SCY</option>
                                    <option value="OFY2">OFY2</option>
                                   
                                   
                            </select>
                           
                        </div>                                        
                    </div>
                </div>
                
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="fileType" value="xl"/> Excel 
                           </label>
                        </div>
                        <div class="col-4 text-center">
                             <!--label class="radio-inline">
                                <input type="radio" name="fileType" value="html" checked /> PDF
                            </label-->
                        </div>
                        <div class="col-4 text-center">
                            <label class="radio-inline">
                                <input type="radio" name="fileType" value="html" checked /> Html
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <button  [disabled]="this.assingmentDeliveryAndEmptySummaryForm.invalid"  class="btn btn-primary">Show</button>
                    </div>
                </div>
            </form>                                
        </div>
    </div>
</div>

