
 <div class="container">
    <div class="row">
        <table class=" table-hover" align="center">
            <tr>
                <td>
                    <img align="center" src="../../assets/img/cpanew.jpg" class="rounded mx-auto mt-2 d-block" 
                        width="250px" height="80px">
                </td>
            </tr>
            <tr>
                <td>
                    <h4 align="center"><b>Export Container Block Report</b></h4>


                    <h3  align="center"> Vessel Name:  {{vsl_Name}}   Voy:{{voYNo}}   Rotation No:{{ rotation_no}}  Ata: {{aTa}}</h3>
                </td>
            </tr>
        </table>
    </div>
</div> 


    <div>
        <table width="100%" border='1' cellpadding='0' cellspacing='0' class="table table-bordered table-condensed table-striped table-hover table-fixed  table-responsive-sm" >
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>ContainerNo</th>
                    <th>Type</th>
                    <th>MLO</th>
                    <th>Status</th>
                    <th>Weight</th>
                
                    <th>POD</th>
                    <th>Stowage</th>
                    <th>ComingFrom</th>
                    <th>Commodity</th>
                    <th>Remarks</th>
                    <th>User Id</th>
           
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let container_block_report of containerBlockReport;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{container_block_report.contNo}}</td>
                    <td>{{container_block_report.iso}}</td>
                    <td>{{container_block_report.mlo}}</td>
                    <td>{{container_block_report.contStatus}}</td>
                    <td>{{container_block_report.weight}}</td>
                    <td>{{container_block_report.pod}}</td>
                    <td>{{container_block_report.stowage_pos}}</td>
                    <td>{{container_block_report.coming_from}}</td>
                    <td>{{container_block_report.commodity}}</td>
                    <td>{{container_block_report.remarks}}</td>
                    <td>{{container_block_report.user_id}}</td>
               
                </tr>
            </tbody>
        </table>
    </div>
 

