<div class="col-md-12  offset-md-1 mt-3 ">
    <div class="card">
        <div class="card-body">
            <p class="h6 mb-4" align="center">HEAD DELIVERY REGISTER REPORT </p>                     
            <form  [formGroup]="headDeliveryRegister" (ngSubmit)="onSubmit($any($event.target))">
               

                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary"> Date</button>
                            </div>
                            <input type="date" name="date" placeholder="" class="form-control"  required >
                           
                        </div>                                        
                    </div>
                </div>
               
                <div class="row ">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Teminal</button>
                            </div>
                            <select (change)="onValueChange($any($event.target).value)" name="terminal" class="form-control ">
                                <option value="">SELECT</option>
                                <option value="CCT">CCT</option>
                                <option value="NCT">NCT</option>
                                <option value="GCB">GCB</option>     
                                   
                            </select>
                           
                        </div>                                        
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary">Block</button>
                                </div>
                                <select [disabled]="isEditableBlock" name="block" class="form-control">
                                    <option value="ALLBLOCK" selected>--All Block--</option>
                                    <option  *ngFor="let val of blockList" ng-model="myVar" 
                                                           value={{val.block_No}}>
                                                           {{val.block_No}}
                                    </option>
                                       
                                       
                                </select>
                               
                            </div>                                        
                        </div>
                   </div>

                   <div class="row">
                    <div class="col-md-12">
                        
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary">Assignment Type</button>
                            </div>
                            <select [disabled]="isEditableAssignmentType" name="assignmentType" class="form-control ">
                                <option value="ALLASSIGN">--All Assignment--</option>
                                <option *ngFor="let val of assignTypeList" ng-model="myVar"
                                                           value={{val.mfdch_value}}>
                                                           {{val.mfdch_desc}}
                                </option>
                                   
                                   
                            </select>
                           
                        </div>                                        
                    </div>
               </div>
               
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <button  [disabled]="this.headDeliveryRegister.invalid"  class="btn btn-primary">View</button>
                    </div>
                </div>
            </form>                                
        </div>
    </div>
</div>


