div.col-9 {
    max-width: 70%;
}

h3 {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    color: black;
}

h1{
    margin: left;
}

table{
    
    margin-top: 10px;
    color:rgb(5, 5, 5);
    text-align: center;
    font-size: 12px;
}

input.form-control.me-2{
    font-size: inherit;
    text-align: center;
}

