<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <p align="center">
                <img width="300px" height="100px" src="../../assets/img/cpanew.jpg" class="cpa-logo">
            </p>
        </div>
    </div>
    <div class="row" style="border: 1px solid black;">
        <div class="col-md-4" style="border: 1px solid black;">
            <p align="center">
                <b>Container No</b>
            </p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="center">
                <b>Location Description</b>
            </p>
        </div>
        <div class="col-md-4" style="border: 1px solid black;">
            <p align="center">{{container.container_number}}</p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="center">{{container.location_description}}</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 align="center"><b><u>Detail Information</u></b></h3>
        </div>
    </div>

    <div class="row" style="width: 100%;">
        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Container No :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b> {{container.container_number}} </b></p>
        </div>

        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Last Vessel Name :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b>{{container.vessel_name}} </b></p>
        </div>

        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Import Rotation No :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b>{{container.import_Rotation_No}} </b></p>
        </div>

        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Voy No :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b>{{container.voyage_no}} </b></p>
        </div>

        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Vessel Arrival Date(Estimated) :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b>{{container.file_clearence_date}}</b></p>
        </div>

        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Port of Shipment :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b>{{container.port_of_shipment}}</b></p>
        </div>

        <div class="col-md-4" style="border: 1px solid black;">
            <p align="right"><b>Port/Offdock :</b></p>
        </div>
        <div class="col-md-8" style="border: 1px solid black;">
            <p align="left"><b>{{container.destination}}</b></p>
        </div>
    </div>
</div>