<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <!-- Labor Category Form Starts -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                     
                    </div>
                    <div class="col-sm-6">
                       
                    </div>
                </div>
            </div>
        </section>
    
        
        <section class="content">
            <div class="container">
                <div class="row">
                  
                    <div class="col-md-9 offset-md-1">
                        <!--p *ngIf="phoneNumberStatus"   class="h5 mb-4" align="center"><font color="#cc0000">
                            Your Contact Number Has Not Found,Please Contact With CTMS Customer Care.
                        </font></p-->
                        <div class="card">
                           
                            <div class="card-body" >
                                <p class="h4 mb-4" align="center">Two Step Verification Setting</p>
                                <div *ngFor="let res of resultList">
                                    <p *ngIf="res.message=='Successful'" class="h5 mb-4" align="center"><font  color="#007A39" >Updated Successfully</font></p>
                                    <p *ngIf="res.message=='Failed'"  class="h5 mb-4" align="center"><font color="#911D21" >Failed To Update</font></p>
                                </div>
                                           
                                <form [formGroup]="changeTwoStepSettingForm" (ngSubmit)="onSubmit($any($event.target))">

                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                   <button type="button" class="btn btn-primary">User Name:</button>
                                                </div>
                                               
                                                <input type="text" name="userName" class="form-control" value="{{userName}}" readonly/> 
                                               
                                               
                                            </div> 
                                                                                   
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                   <button type="button" class="btn btn-primary">Two Step Verification:</button>
                                                </div>
                                               
                                                <select  name="twoStep" class="form-control"
                                                (change)="onTwoStepChange($any($event.target).value)">
                                                    <option value="">Select</option>
                                                    <option value="1"  [selected]="twoStepfound">Yes</option>
                                                    <option value="0"  [selected]="twoStepNotfound">No</option>
                                                    
                                                   
                                                </select>
                                               
                                               
                                            </div> 
                                                                                   
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                   <button type="button" class="btn btn-primary">Phone Number:</button>
                                                </div>
                                               
                                                <input type="number" name="phoneNo"  pattern="[0-9]"  placeholder="01xxxxxxxxx" minlength="11" maxlength="11" class="form-control" value="{{phoneNumber}}" required />
                                               
                                               
                                            </div> 
                                                                                   
                                        </div>
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2 text-center">
                                            <button [disabled]="this.changeTwoStepSettingForm.invalid"  class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>  
             </div>
        </section>
    </div>
   <app-footer></app-footer>
</div>







