<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <!-- Labor Category Form Starts -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1>Labor Category</h1> -->
                    </div>
                    <div class="col-sm-6">
                        <!-- <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Labor Category</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol> -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container">
            <div class="col-md-12">  
                <div class="row">
                    <div class="col-md-12 offset-md-2">
                        <label class="col-md-1 control-label">&nbsp;</label>
			            <button type="submit" id="submit" name="submit_login" class="mb-xs mt-xs mr-xs btn btn-success col-md-3"><a target="_blank" style="color:white; text-decoration:none;" href="../../assets/download/How_to_download_after_delivery_all_Assignment_converted.pdf">Delivery All Assignment</a></button>
			            <button type="submit" id="submit" name="submit_login" class="mb-xs mt-xs mr-xs btn btn-success col-md-3  offset-md-1"><a target="_blank" style="color:white;text-decoration:none;" href="../../assets/download/How_to_update_Appriasment_in_CTMS_system.pdf">Update Appriasment</a></button>
                        
                    </div> 
               
                </div>
                <div class="row mt-3">
                
                    <app-assignment-and-delivery-empty-detail></app-assignment-and-delivery-empty-detail>
                    <!--div class="col-md-6  mt-3">
                        <div class="card">
                            <div class="card-body">
                                <p class="h6 mb-4" align="center">ASSIGNMENT/DELIVERY EMPTY DETAILS</p>                     
                                <form [formGroup]="allAssingmentDeliveryAndEmptyDetail" (ngSubmit)="onSubmit()">
                                   
                                    <div class="container offset-md-3">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="assignmentOption" value="Assignment"/> Assignment 
                                               </label>
                                            </div>
                                            
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="assignmentOption" value="Assignment(E)" checked /> Assignment(E)
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container offset-md-3">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="assignmentOption" value="Delivery"/> Delivery 
                                               </label>
                                            </div>
                                            
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="assignmentOption" value="Container" checked /> Container
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn btn-primary">From Date</button>
                                                </div>
                                                <input type="date" name="fromDate" placeholder="" class="form-control"  required >
                                               
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn btn-primary">To Date</button>
                                                </div>
                                                <input type="date" name="toDate" placeholder="" class="form-control"  required >
                                               
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn btn-primary">Yard Name</button>
                                                </div>
                                                <select name="yardName" class="form-control">
                                                        <option value="all">yard_no</option>
                                                        <option value="CCT">CCT</option>
                                                        <option value="NCT">NCT</option>
                                                        <option value="GCB">GCB</option>
                                                        <option value="SCY">SCY</option>
                                                        <option value="OFY2">OFY2</option>
                                                       
                                                       
                                                </select>
                                               
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button type="button" class="btn btn-primary">Cotainer No</button>
                                                </div>
                                                <input type="text" name="containerNo" placeholder="Cotainer No" class="form-control"  required >
                                               
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="container mt-3">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="xl"/> Excel 
                                               </label>
                                            </div>
                                            <div class="col-4 text-center">
                                                 <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> PDF
                                                </label>
                                            </div>
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> Html
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2 text-center">
                                            
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div-->

                    <app-yard-wise-assignment-and-delivery-empty-detail></app-yard-wise-assignment-and-delivery-empty-detail>
                    <app-head-delivery-register></app-head-delivery-register>

                    <app-mis-assignment></app-mis-assignment>
                    <app-container-search></app-container-search>
                    <app-appraise-re-slot-location></app-appraise-re-slot-location>
                    <app-assignment-and-delivery-empty-summary></app-assignment-and-delivery-empty-summary>
                    <app-list-of-not-stripped-assignment-delivery-containers></app-list-of-not-stripped-assignment-delivery-containers>
            
                </div>

                
               
            </div>

                
           </div>
        </section>
        
    </div>

  
   



    <app-footer></app-footer>
</div>
<!-- ./wrapper -->
